# Configuración de la aplicación
APP_NAME="CPS System"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost
APP_LICENSE=license_67b2dfa8504a2
APP_VERSION=120.55.1

# API Token
API_TOKEN="Your Secure Token Here"

# URLs del sistema de licenciamiento
SYS_LIC_SERVER_MODULE=https://cpanelseller.xyz/syslicensing.zip
SYS_LIC_ADDON_MODULE=https://cpanelseller.xyz/licensing.zip
SYS_LIC_API_URL=http://localhost
PRE_SH_SCRIPT_URL=https://mirror.cpanelseller.xyz/pre.sh
SYS_LIC_ZIP_URL=https://cpanelseller.xyz/syslicensing.zip

# Configuración de Stripe
STRIPE_KEY="pk_live"
STRIPE_SECRET="sk_live"
STRIPE_WEBHOOK_SECRET="sk_live"

# Configuración de PayPal
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox

# Configuración de base de datos
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=cps_system
DB_USERNAME=cps_user
DB_PASSWORD=cps_secure_password_2025

# Configuración de Redis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

# Configuración de colas
QUEUE_CONNECTION=database

# Configuración de sesiones
SESSION_DRIVER=file
SESSION_LIFETIME=120

# Configuración de cache
CACHE_DRIVER=redis

# Configuración de correo electrónico
MAIL_DRIVER=smtp
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@example.com
MAIL_FROM_NAME="${APP_NAME}"

# Configuración de broadcasting
BROADCAST_DRIVER=log

# Configuración de logs
LOG_CHANNEL=stack